<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- UI Extensions CSS -->
  <link rel="stylesheet" href="https://contentful.github.io/ui-extensions-sdk/cf-extension.css">
  <link rel="stylesheet" href="https://unpkg.com/contentful-ui-extensions-sdk@3.11.0/dist/cf-extension.css">

  <!-- UI Extensions SDK -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/contentful-ui-extensions-sdk@3"></script>
  <style>
    .Pill__Pill___2yQFD {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background: #e5ebed;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
      border-radius: .125rem;
      border: none;
      padding: 0;
      max-width: 100%;
    }

    .css-16cn63x {
      line-height: 1.5rem;
      padding: 0.375rem 0px 0.375rem 0.625rem;
      cursor: grab;
      user-select: none;
    }

    .Pill__Pill__label____EsBZ {
      line-height: 1.5rem;
      padding: .375rem .625rem;
      font-size: .875rem;
      color: #536171;
      -webkit-box-flex: 2;
      -ms-flex-positive: 2;
      flex-grow: 2;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .Pill__Pill__close-button___3OlnQ {
      border: none;
      border-left-color: currentcolor;
      border-left-style: none;
      border-left-width: medium;
      border-left: 1px solid #c3cfd5;
      padding: .375rem;
      background: transparent;
      -webkit-transition: background .1s ease-in-out;
      transition: background .1s ease-in-out;
    }

    .Pill__Pill__close-button___3OlnQ:focus,
    .Pill__Pill__close-button___3OlnQ:hover {
      background: #d3dce0;
      cursor: pointer;
    }

    .css-qq0611 {
      margin-right: 0.75rem;
      margin-bottom: 0.75rem;
    }

    .TabFocusTrap__TabFocusTrap___39Vty {
      display: inherit;
      outline: 0;
    }

    .Pill__Pill__icon___1NILR {
      fill: #a9b9c0;
      vertical-align: middle;
    }
  </style>
</head>

<body>

  <div id="app">
    <div v-if="loading">Version 7 </div>
    <div v-if="!loading">
      <div class="Pill__Pill___2yQFD a11y__focus-outline--default___2hwb1 css-qq0611" v-for="item in selectedPlayers"
        v-bind:id="item.id">
        <span class="Pill__Pill__label____EsBZ">{{item}}</span><button type="button" @click="removeSelectedPlayer(item)"
          class="Pill__Pill__close-button___3OlnQ a11y__focus-outline--default___2hwb1"><span tabindex="-1"
            class="TabFocusTrap__TabFocusTrap___39Vty"><svg
              class="Icon__Icon___38Epv Icon__Icon--small___1yGZK Icon__Icon--muted___3egnD Pill__Pill__icon___1NILR"
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg></span></button>
      </div>
      <!--
    <label v-if="showSelectedPlayers"
      style="display: inline-block; color: #2a3039; font-weight: 600; margin-bottom: .5rem;">Players</label>
    <ul v-if="showSelectedPlayers" style="list-style: none; display: block; padding: 0;">
      <li v-for="item in selectedPlayers" v-bind:id="item.id"
        style="display: inline-block; margin-right: 15px; cursor: pointer;" @click="removeSelectedPlayer(item)">
        <div style="color: #808080; font-size: 13px;">
          {{item.name}} &times;</div>
      </li>
    </ul>
  -->
      <div class="cf-form-field">
        <input type="text" class="cf-form-input" v-model.trim="query" v-on:keyup="searchInApi()">
        <div class="cf-form-hint">Search by name of athlete</div>
      </div>
      <div class="cf-form-field">
        <!--
      <label v-if="showSuggestions" style="display: inline-block;
      color: #2a3039;
      font-weight: 600;
      margin-bottom: .5rem;">Suggestions</label>-->
        <ul v-if="showSuggestions" style="list-style: none; display: block; padding: 0;">
          <li v-for="item in suggestions" v-bind:id="item.id"
            style="display: inline-block; margin-right: 15px; cursor: pointer;" @click="selectPlayer(item)">
            <div><img :src="item.imgUrl" style="border-radius: 8px;" /></div>
            <div
              style="color: #808080; font-size: 13px; max-width: 120px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
              {{item.name}}</div>
          </li>
        </ul>

      </div>
    </div>
  </div>

  <script>

window._ncp = {
    ready: false
};

window.contentfulExtension.init(function (sdk) {
    // Automatically adjust UI Extension size in the Web App.
    sdk.window.startAutoResizer();
    console.log("INITIALIZED");

    // Get current value of field
    let value = sdk.field.getValue()
    console.log("[contentful-image-typeahead] value:", value);

    // Set value of field to "Hello World!"
    //sdk.field.setValue("Hello world!")

    const _sdk = sdk;
    window._ncp["getValue"] = function () {
        let ret = _sdk.field.getValue();
        console.log("NCP getValue:", ret);
        return ret;
    }
    window._ncp["setValue"] = function (val) {
        let ret = _sdk.field.setValue(val);
        console.log("NCP setValue(" + val + "):", ret);
        return ret;
    }
    window._ncp.ready = true;
});


new Vue({
    el: '#app',
    data: {
        loading: true,
        query: null,
        players: [
            { id: 1, name: "Lionel Messi", imgUrl: "https://thomaskokholm.github.io/contentful-image-typeahead/img/messi.jpg" },
            { id: 2, name: "Cristiano Ronaldo", imgUrl: "https://thomaskokholm.github.io/contentful-image-typeahead/img/ronaldo.jpg" },
            { id: 3, name: "Diego Maradona", imgUrl: "https://thomaskokholm.github.io/contentful-image-typeahead/img/maradona.jpg" },
            { id: 4, name: "Zinedine Zidane", imgUrl: "https://thomaskokholm.github.io/contentful-image-typeahead/img/zidane.jpg" },
            { id: 5, name: "Pele Edson Arantes do Nascimento", imgUrl: "https://thomaskokholm.github.io/contentful-image-typeahead/img/pele.jpg" },
            { id: 6, name: "Johan Cruyff", imgUrl: "https://thomaskokholm.github.io/contentful-image-typeahead/img/cruyff.jpg" },
            { id: 7, name: "Ronaldinho Ronaldo de Assis Moreira", imgUrl: "https://thomaskokholm.github.io/contentful-image-typeahead/img/ronaldinho.jpg" }
        ],
        selectedPlayers: [],
        suggestions: [],
        singleSelection: true,
    },
    computed: {
        showSuggestions() {
            if (this.suggestions.length > 0) {
                return true;
            }
            return false;
        },
        showSelectedPlayers() {
            if (this.selectedPlayers.length > 0) {
                return true;
            }
            return false;
        },
    },
    mounted() {
        // When UI Extensions SDK is loaded the callback will be executed.


        for (let player of this.players) {
            const str = player.name.toLowerCase();
            player['q'] = str.split(" ");
        }

        setTimeout(() => {
            let cdata = window._ncp.getValue();
            console.log("window._ncp", window._ncp);
            console.log("cdata", cdata);
            this.loading = false;
            if (cdata) {
                let arr = JSON.parse(cdata);
                console.log("arr:", arr);
                if (Array.isArray(arr)) {
                    console.log("we have arr as an array");
                    for (let a of arr) {
                        this.selectedPlayers.push(a);
                    }
                } else {
                    console.log("arr is not an array");
                }

            }
        }, 5000)
        this.resetSuggestions();
    },
    methods: {
        resetSuggestions() {
            //this.suggestions = this.players;
            this.suggestions = [];
        },
        search() {
            if (this.query === "") {
                this.resetSuggestions();
            } else {
                this.suggestions = [];
                for (let player of this.players) {
                    /*
                    if (player.q.indexOf(this.query.toLowerCase()) > -1) {
                        console.log("got one or more matches", player.id);
                        this.suggestions.push(player);
                    }
                    */
                    for (let token of player.q) {
                        if (token.search(this.query) > -1) {
                            this.addSuggestion(player);
                        }
                    }
                }
            }

            //this.suggestions.push(this.players[0]);
        },
        searchInApi() {
          if (this.query === "") {
                this.resetSuggestions();
          } else {
            this.suggestions = [];
            fetch (
            'https://api.fifa.com/api/v1/players/search?name=' +
              this.query
            )
            .then((res) => res.json())
            .then(
              (result) => {
                console.log(result);
                result.Results.forEach(element => {
                  let player = { id : element.IdPlayer, name : element.Name[0].Description }
                  this.addSuggestion(player)  
                });
              },
              (error) => {
                this.setState({
                  isLoaded: true,
                  error,
                })
              }
            )
          }
        },
        selectPlayer(selected) {
            this.resetSuggestions();
            this.query = null;

            let found = false;
            for (let player of this.selectedPlayers) {
                if (player == selected.name) {
                    found = true;
                }
            }
            if (!found) {
                if (this.singleSelection) {
                  this.selectedPlayers = [selected.name];
                } else {
                  this.selectedPlayers.push(selected.name);
                }
                
                window._ncp.setValue(JSON.stringify(this.selectedPlayers));
            }
        },
        addSuggestion(suggestedPlayer) {
            let found = false;
            for (let player of this.suggestions) {
                if (player.id == suggestedPlayer.id) {
                    found = true;
                }
            }
            if (!found) {
                this.suggestions.push(suggestedPlayer);
            }
        },
        removeSelectedPlayer(selected) {
            this.selectedPlayers = this.selectedPlayers.filter((obj) => {
                return obj.name !== selected.name;
            });
        }
    }
});

  </script>
</body>

</html>